@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-font: "Inter", sans-serif;
  --bgcolor: #111010;
  --primary: #005eff;
  --secondary: #3198ff;
  --btn-hover: #005eff50;
  --success: #34B234;
  --error: #C91D1D;
  --warning:#E8B130;
  --light-gray: #F2F2F3;
  --white: #fff;
  --smog: rgba(255, 255, 255, 0.2);
}
